body{
    margin: 0;
}


header, main,footer{
    border: solid;
    border-radius: 10px;
    border-color: rgb(24, 14, 116);
}








canvas {
    border: solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    width: 100%;
}

