body{
    margin: 0;
}


header, main,footer{
    border: solid;
    border-radius: 10px;
    border-color: rgb(24, 14, 116);
}








canvas {
    border: solid;
    border-radius: 10px;
    display: block; /* Elimina espacios en blanco extra abajo del canvas */
}

